  #btn-group{
  color: blueviolet;
  background-color: brown;
  }
  
  body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
    background-color: black;
    color: azure;
    
  }
